@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

.turret-road-extralight {
  font-family: "Turret Road", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.turret-road-light {
  font-family: "Turret Road", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.turret-road-regular {
  font-family: "Turret Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.turret-road-medium {
  font-family: "Turret Road", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.turret-road-bold {
  font-family: "Turret Road", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.turret-road-extrabold {
  font-family: "Turret Road", sans-serif;
  font-weight: 800;
  font-style: normal;
}
